:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #111;
  display: flex;
  flex-direction: column;
}

select {
  padding: 0.5rem 0.4rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #eee;
  width: 11rem;
}

select option {
  background-color: #222;
}

#resSelect {
  top: 4rem;
}

button {
  padding: 0.5rem 0.4rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 11rem;
}

.active {
  background-color: #227024;
}

option {
  font-size: 1.2rem;
  border: none;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: 10;
}

#controls {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  gap: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.8);
}
