body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #111;
  display: flex;
  flex-direction: column;
}

select {
  padding: 0.5rem 0.4rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  color: #eee;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 11rem;
}

select option {
  background-color: #222;
}

#resSelect {
  top: 4rem;
}

button {
  position: absolute;
  top: 7rem;
  left: 1rem;
  padding: 0.5rem 0.4rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  color: #eee;
  cursor: pointer;
  width: 11rem;
}

.active {
  background-color: #227024;
}

option {
  font-size: 1.2rem;
  border: none;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
